#container{
    width: 80%;
    height: 500px;
    margin: 0 auto; 
}
#header{
    width: 100%;
    height: 100px;
    background: #cc0066;
    float:left;   
    
}
#body{
    width: 100%;
    height: 300px;
    background: #ffff00;
    float:left;
}
#bleft{width: 25%;
    height: 300px;
    background: #ffff00;
    float:left;  
}
#bright{width: 75%;
    height: 300px;
    background: #006666;
    float:left;  
}
.formcontainer{
    width: 100%
    height: auto
}
.label{
    width: 25%;
    height: auto
}
.field{
    width: 75%;
    height: auto
}
#footer{
    width: 100%;
    height: 100px;
    background: #cc0066;
    float:left;
}

