#container{
    width: 90%;
    height: 800px;
    background: #999999;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 100px;
    background: #ff9999;
    text-align: center;
    color: #000000;
}
#body{
    width: 100%;
    height: 600px;
    
}
#mleft{
    width: 10%;
    height: 600px;
    background: #ff9966;
    float: left;
}
#mright{
    width: 90%;
    height: 600px;
    background: #cccccc;
    float: left;
}
#footer{
    width: 100%;
    height: 100px;
    background: #ff0033;
}